* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.layout {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  main {
    flex-grow: 1;
    padding-left: 256px;
  }
  .not-claim-bonus-yet {
    background-color: rgb(255, 255, 196);
  }
}
